@font-face {font-family: 'Radikal';src: url('fonts/Radikal.eot'); src: url('fonts/Radikal.woff') format('woff'), url('fonts/Radikal.ttf') format('truetype');}

@font-face {  font-family: 'Radikal-Thin'; src: url('Radikal-Thin.eot');  src: url('Radikal-Thin.woff') format('woff'), url('Radikal-Thin.ttf') format('truetype'); }

