@import "_colors";
@import "_fonts";

body {
  font-size: 16px;
  background-image: url('http://i.imgur.com/kb9B7ca.jpg');
  background-size: cover;
}

h1 {
  text-align: center;
  color: $coderwhite;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: 'Radikal';
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.row-id {
  background-color: black;
  color: white;
}

.cell {
  float: left;
}

button {

}

textarea {
  float: right;
}

.grid-wrapper {
  float: left;
  width: 100%;

  button {
    background-color: transparent;
    border: solid 2px $coderwhite;
    font-size: 8px;
    height: 30px;
    width: 30px;
    padding: 1px;
    margin: 3px;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }
}

.textarea-wrapper {
  float: left;
}

.outer {
  overflow: auto;
}