@import "_colors";

body {
  background-color: $leetgreen;
}

.row-id {
  background-color: black;
  color: white;
}

.cell {
  float: left;
}

button {
  font-size: 8px;
  height: 30px;
  width: 30px;
  padding: 1px;
  margin: 2px;
}

textarea {
  float: right;
}

.grid-wrapper {
  float: left;
  width: 100%;

  button {
    background-color: $leetgreen;
    border: solid 2px $coderwhite;
  }
}

.textarea-wrapper {
  float: left;
}

.outer {
  overflow: auto;
}