@import "_colors";
@import "_fonts";

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'Radikal-Thin';
  background-color: $ninjagray;
}

h1 {
  color: $coderwhite;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.header {
  background: url('http://i.imgur.com/kb9B7ca.jpg');
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 8.5rem;

  h1 {
    margin: 0;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 100;
  }

  button {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $coderwhite;
    background-color: $skyred;
    min-width: 200px;
    border: none;
    margin: 18px -2px 0 -2px;
    padding: 18px 28px 16px 28px;
  }

  button:hover {
    background-color: $skyredLight;
  }
}

.row-id {
  background-color: black;
  color: white;
}

.cell {
  float: left;
}

textarea {
  float: right;
}

.grid-wrapper {
  margin: 3rem auto 3rem auto;

  td {
    padding: 0;
    margin: 0;
  }

  button {
    background-color: $katanagraySuperLight;
    border: none;
    font-size: 8px;
    height: 20px;
    width: 20px;
    padding: 2px;
    margin: 2px;
  }

  button:hover {
    background-color: $leetgreen;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }
}

.counter {
  width: 550px;
  color: $coderwhite;
  text-align: center;
  background-color: $katanagray;
  padding: 18px 28px 16px 28px;
  margin: -2rem auto 0 auto;

  img {
    margin-top: 1rem;
    max-height: 2rem;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }
}

.game {
  overflow: auto;
  background-color: $coderwhite;
}

.bottom-line {
  width: 100%;
  height: 5px;
  position: fixed;
  text-align: center;
  background-color: $ninjagraySuperLight;
}