@import "_colors";
@import "_fonts";

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'Radikal-Thin';
  background-color: $ninjagray;
}

button:focus {
  outline:0;
}

h1 {
  color: $coderwhite;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.header {
  background: url('http://i.imgur.com/kb9B7ca.jpg');
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 12rem;

  h1 {
    margin: 0;
    padding-top: 4rem;
    font-size: 3rem;
    font-weight: 100;
  }

  button {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $coderwhite;
    background-color: $skyred;
    min-width: 200px;
    border: none;
    margin: 40px -2px 0 -2px;
    padding: 16px 28px 16px 28px;
  }

  button:hover {
    background-color: $skyredLight;
  }
}

.cell {
  float: left;
}

.game {
  overflow: auto;
  background-color: $coderwhite;

  .grid-size {
    width: 500px;
    margin: 40px auto 0 auto;

    p {
      display: inline;
      text-transform: uppercase;
      padding: 0 15px 0 15px;
      font-size: 0.8rem;
    }

    input:focus {
      outline: 0;
    }

    input[type=range] {
      -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 300px;
      height: 5px;
      background: $katanagray;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 14px;
      width: 20px;
      background: $skyred;
      margin-top: -5px;
    }
  }

  .grid-wrapper {
    margin: 2rem auto 3rem auto;

    td {
      padding: 0;
      margin: 0;
    }

    button {
      background-color: $katanagraySuperLight;
      border: none;
      font-size: 8px;
      height: 20px;
      width: 20px;
      padding: 2px;
      margin: 2px;
    }

    button:hover {
      background-color: $leetgreen;
    }

    table {
      margin-left: auto;
      margin-right: auto;
      border-spacing: 0;
    }
  }
}

.counter {
  width: 550px;
  color: $coderwhite;
  text-align: center;
  background-color: $katanagray;
  padding: 18px 28px 36px 28px;
  margin: -1.5rem auto 0 auto;

  img {
    max-height: 1rem;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    display: inline;
    text-transform: uppercase;
  }

  li {
    display: inline;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.bottom-line {
  width: 100%;
  height: 5px;
  text-align: center;
  background-color: $ninjagraySuperLight;
}