$leetgreen: #8cc63c;
$leetgreenLight: #80cc28;
$leetgreenSuperLight: #e6f5d4;
$skyred: #db4352;
$skyredLight: #ea8294;
$skyredSuperLight: #f8d4db;
$tomatoblue: #3677b8;
$tomatoblueLight: #91aad8;
$tomatoblueSuperLight: #dae3f2;
$coderwhite: #f7f8f9;
$ninjagray: #4f5664;
$ninjagrayLight: #9c9a9b;
$ninjagraySuperLight: #deddde;
$katanagray: #565e67;
$katanagrayLight: #959aa2;
$katanagraySuperLight: #dcdde0;
$lightgray: #f6f6f6;